<?xml version="1.0" encoding="utf-8" ?>
<BlogConfiguration>
  <BlogPostsDirectory>C:\Blog</BlogPostsDirectory>
  <OldUrlMap>
    <StringPair Key = "Na-co-zwracac-uwage-podczas-publikowania-aplikacji-ASPNET-na-serwerze-klienta.aspx" Value = "Na co zwracać uwagę podczas publikowania aplikacji ASP NET na serwerze klienta" />
    <StringPair Key = "NDC-2012–-Moje-oceny.aspx" Value = "NDC 2012 – Moje oceny" />
    <StringPair Key = "chocolateyorg–Nuget-dla-Windows.aspx" Value = "chocolatey.org – Nuget dla Windows" />
    <StringPair Key = "SQL-Database-Copy-Cannot-find-the-principal.aspx" Value = "SQL Database Copy - Cannot find the principal" />
    <StringPair Key = "Dynamiczne-dodawanie-warunkow-do-IQueryable.aspx" Value = "Dynamiczne dodawanie warunków do IQueryable" />
    <StringPair Key = "Exchange-2010-The-WinRM-client-received-an-HTTP-server-error-status-(500).aspx" Value = "NDC 2012 – Moje oceny" />
  </OldUrlMap>
</BlogConfiguration>