<?xml version="1.0" encoding="utf-8" ?>
<BlogConfiguration>
  <BlogPostsDirectory>C:\Blog</BlogPostsDirectory>
  <OldUrlMap>
    <StringPair Key = "Na-co-zwracac-uwage-podczas-publikowania-aplikacji-ASPNET-na-serwerze-klienta.aspx" Value = "na-co-zwracac-uwage-podczas-publikowania-aplikacji-asp-net-na-serwerze-klienta" />
    <StringPair Key = "NDC-2012–-Moje-oceny.aspx" Value = "ndc-2012---moje-oceny" />
    <StringPair Key = "chocolateyorg–Nuget-dla-Windows.aspx" Value = "chocolatey-org---nuget-dla-windows" />
    <StringPair Key = "SQL-Database-Copy-Cannot-find-the-principal.aspx" Value = "sql-database-copy---cannot-find-the-principal" />
    <StringPair Key = "Dynamiczne-dodawanie-warunkow-do-IQueryable.aspx" Value = "dynamiczne-dodawanie-warunkow-do-iqueryable" />
    <StringPair Key = "Exchange-2010-The-WinRM-client-received-an-HTTP-server-error-status-(500).aspx" Value = "exchange-2010---the-winrm-client-received-an-http-server-error-status-(500)" />
    <StringPair Key = "Niedostepnosc-bloga.aspx" Value = "" />
    <StringPair Key = "Porzadki.aspx" Value = "" />
    <StringPair Key = "Setting-Message-Size-Limits-in-Exchange-2010.aspx" Value = "jak-uruchomic-asp-net-4-po-windows-2003-iis6" />
    <StringPair Key = "Problem-czasu-przy-wsHttpBinding.aspx" Value = "problem-czasu-przy-wshttpbinding" />
    <StringPair Key = "Windows-Serwer-2008-R2-PortMapping.aspx" Value = "windows-serwer-2008-r2-portmapping" />
    <StringPair Key = "EWS-i-HTTP-status-401-Unauthorized.aspx" Value = "ews-i-http-status-401-unauthorized" />
    <StringPair Key = "Problem-z-reinstalacja-aplikacji-ClickOnce.aspx" Value = "problem-z-reinstalacja-aplikacji-clickonce" />
    <StringPair Key = "Problemy-z-instalacja-Exchange-2010.aspx" Value = "problemy-z-instalacja-exchange-2010" />
    <StringPair Key = "dbml.aspx" Value = "create-a-.dbml-descriptor-file-for-the-database" />
    <StringPair Key = "SharePoint-2010-i-PowerShell-uzyteczne-skrypty.aspx" Value = "sharepoint-2010-i-powershell-uzyteczne-skrypty" />
    <StringPair Key = "Problemy-po-instalacji-SharePoint-2010.aspx" Value = "problemy-po-instalacji-sharepoint-2010" />
    <StringPair Key = "Zapraszam-do-nauki-zarzadzania!.aspx" Value = "zapraszam-do-nauki-zarzadzania!" />
    <StringPair Key = "Hardkodowe-poprawki-w-SharePoint-2010.aspx" Value = "hardkodowe-poprawki-w-sharepoint-2010" />
    <StringPair Key = "Zmiana-akcji-sprzetowego-guzika-kamery-LifeCam.aspx" Value = "zmiana-akcji-sprzetowego-guzika-kamery-lifecam" />
    <StringPair Key = "Wspomnienia-z-70-536.aspx" Value = "wspomnienia-z-70-536" />
    <StringPair Key = "Jak-zmienic-tc582o-ekranu-logowania.aspx" Value = "jak-zmienic-tlo-ekranu-logowania" />
  </OldUrlMap>
</BlogConfiguration>