@using System.Globalization
@model System.Collections.Generic.IEnumerable<MSBlogEngine.Models.BlogPost>

@{
    ViewBag.Title = "Mateusz Świetlicki";
}

<div class="mainList">
<ul >
    @foreach (var post in Model)
    {
        <li>
            <div class="menuTitle">@Html.ActionLink(post.Title, "Get", "Post", new { Id = post.Id }, null)</div>
            <div style="float:none">
                <div class="menuTime">
                    @post.CreateDate.ToString(CultureInfo.InvariantCulture)
                </div>
                <ul class="tagList">
                    @foreach (var tag in post.Tags)
                    {
                        <li>@tag</li>
                    }
                </ul>
                <div style="clear: both"></div>
            </div>

        </li>
    }
</ul>
</div>