@using System.Globalization
@model System.Collections.Generic.IEnumerable<MSBlogEngine.Web.Models.PostModel>

@{
    ViewBag.Title = "Mateusz Świetlicki: Blog programisty .NET";
}

<div id="mainList">
    @foreach (var post in Model)
    {
        @Html.DisplayFor(m => post)
    }
</div>
