@using System.Globalization
@model System.Collections.Generic.IEnumerable<MSBlogEngine.Models.BlogPost>

@{
    ViewBag.Title = "Mateusz Świetlicki";
}

<ul id="mainList">
    @foreach (var post in Model)
    {
        <li>
            <h3>@Html.ActionLink(post.Title + " (" + post.CreateDate.ToString(CultureInfo.InvariantCulture) + ")", "Get", "Post", new { Id = post.Id }, null)</h3>
            <div>
                @post.Summary
            </div>

        </li>
    }
</ul>
