@using System.Globalization
@using MSBlogEngine.Web.Properties
@model System.Collections.Generic.IEnumerable<MSBlogEngine.Web.Models.PostModel>

@{
    ViewBag.Title = Resources.SubTitle;
}

<div id="posts">
    @foreach (var post in Model)
    {
        @Html.DisplayFor(m => post)
    }
</div>
