@using System.Globalization
@model System.Collections.Generic.IEnumerable<MSBlogEngine.Web.Models.PostModel>

@{
    ViewBag.Title = "Blog programisty";
}

<div id="posts">
    @foreach (var post in Model)
    {
        @Html.DisplayFor(m => post)
    }
</div>
