html {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    color: #000000;
    font-size: .85em;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    padding: 0;
}

#content {
    margin-left: 20px;
    margin-right: 20px;
}


#emptyTopBox {
    height: 60px;
}

#emptyBottomBox {
    height: 40px;
}

#top-bar {
    position: fixed;
    top: 0px;
    right: 20px;
    left: 20px;
    background-color: white;
    display: block;
    height: 60px;
    line-height: 60px;
    border-bottom: solid 1px #eeeeee;
}

#footer {
    position: fixed;
    bottom: 0px;
    right: 20px;
    left: 20px;
    height: 40px;
    line-height: 40px;
    display: block;
    background-color: white;
    border-top: solid 1px #cccccc;
    padding-left: 10px;
    padding-right: 10px;
}

.titleImg {
    float: left;
    margin-top: 3px;
}

.title {
    float: left;
    margin-left: 10px;
    font-size: 2.4em;
    color: rgb(102, 102, 102);
}

    .title a {
        color: rgb(102, 102, 102);
        outline: none;
        text-decoration: none;
    }

        .title a:link, a:visited, a:active, a:hover {
            color: rgb(102, 102, 102);
        }

.subtitle {
    float: left;
    margin-top: 6px;
    margin-left: 10px;
}

.nav {
    float: right;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

    .nav li {
        margin-left: 10px;
        margin-right: 10px;
        display: block;
        float: left;
    }

    .nav li a {
        color: rgb(102, 102, 102);
    }
    .nav li a:link, a:visited, a:active, a:hover{
        color: rgb(102, 102, 102);
    }


.post {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: solid 1px #eeeeee;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    padding: 20px;
}

    .post img {
        max-width: 400px;
    }

    .post h1 {
        margin-top: 5px;
    }

    .post .date {
        float: left;
        color: #666666;
    }

    .post .tags {
        float: left;
        margin-left: 10px;
        color: #666666;
    }

        .post .tags a {
            margin-left: 5px;
            color: #666666;
        }

        .post .tags a:link, a:visited, a:active, a:hover {
            color: #666666;
        }

/*.fb-like {
    float: right;
}*/