html {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    color: #000000;
    font-size: .85em;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    padding: 0;
    text-align: center;
}

#mainlayout {
    width: 1000px;
    margin: 0px auto;
    text-align: left;
}

#content {
    margin: 0px;
}

#emptyTopBox {
    height: 60px;
}

#emptyBottomBox {
    height: 40px;
}

header {
    position: fixed;
    top: 0px;
    min-width: 300px;
    width: 1000px;
    /*right: 20px;
    left: 20px;*/
    background-color: rgb(201, 81, 0);
    background-image: url('/Content/Images/dark-orange.png');
    background-repeat: repeat;
    color: white;
    display: block;
    height: 60px;
    line-height: 60px;
    z-index: 9999;
}

footer {
    position: relative;
    width: 980px;
    margin: 0px auto;
    text-align: left;
    height: 40px;
    line-height: 40px;
    display: block;
    background-color: rgb(245, 245, 245);
    border-top: solid 1px #cccccc;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 9999;
}

@media screen and (max-width: 1040px) {
    #mainlayout {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    header {
        width: auto;
        right: 20px;
        left: 20px;
    }

    footer {
        width: auto;
    }
}

@media screen and (max-width: 640px) {
    #mainlayout {
        margin-left: 1px;
        margin-right: 1px;
    }

    header {
        left: 0px;
        right: 0px;
    }

    footer {
        left: 0px;
        right: 0px;
    }
}

@media screen and (max-height: 480px) {
    /*footer {
        position: relative !important;
        left: 0px;
        right: 0px;
    }*/

    #emptyBottomBox {
        display: none;
    }

    header {
        position: absolute !important;
    }
}

.titleImg {
    float: left;
    margin-top: 3px;
    margin-left: 3px;
}

.titleContent {
    margin-left: 60px;
}

.comments a {
    text-decoration: none;
}

.title {
    float: left;
    margin-left: 10px;
    font-size: 2.4em;
    color: white;
}

    .title a {
        color: white;
        outline: none;
        text-decoration: none;
    }

        .title a:link,
        .title a:visited,
        .title a:active,
        .title a:hover {
        }

.subtitle {
    float: left;
    margin-top: 6px;
    margin-left: 10px;
}

nav {
    float: right;
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0;
}

    nav ul {
        float: right;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    nav li {
        margin-left: 10px;
        margin-right: 10px;
        display: block;
        float: left;
    }

        nav li a {
            color: white;
        }

            nav li a:link,
            nav li a:visited,
            nav li a:active,
            nav li a:hover {
            }

@media screen and (max-width: 600px) {
    .title {
        font-size: 1.6em;
        float: none;
    }

    header {
        line-height: 30px;
    }

    nav {
        float: none;
    }

        nav ul {
            float: none;
        }
}

@media screen and (max-width: 800px) {
    .subtitle {
        display: none !important;
    }
}

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

code {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

figure {
    margin: 0;
    margin-left: 0px;
}

.leftImg {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

article {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: solid 1px #eeeeee;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    /*background-image: url('/Content/Images/grey.png');
    background-repeat: repeat;*/
}

    article img {
        max-width: 400px;
    }

        article img:hover {
            max-width: 1000px;
        }

@media screen and (max-width: 700px) {
    article img {
        max-width: 300px;
    }

        article img:hover {
            max-width: 540px;
        }
}

@media screen and (max-width: 480px) {
    article img {
        max-width: 300px;
    }

        article img:hover {
            max-width: 300px;
        }
}

article h1 {
    margin: 0;
    font-size: 1.5em;
}

article h2 {
    font-size: 1.2em;
}

article .date {
    float: left;
    color: #1e1e1e;
}

article .tags {
    float: left;
    margin-left: 10px;
    color: #1e1e1e;
}

    article .tags a {
        margin-left: 5px;
        color: #1e1e1e;
    }

        article .tags a:link,
        article .tags a:visited,
        article .tags a:active,
        article .tags a:hover {
        }

.postHead {
    background-color: rgb(240, 240, 240);
    background-image: url('/Content/Images/dark-grey.png');
    background-repeat: repeat;
    padding: 10px 20px 0px 20px;
}

.postTitle {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

    /*.postTitle h1 {
        margin: 0;
    }*/

    .postTitle a {
        text-decoration: none;
        color: black;
    }

.postContent {
    padding: 0px 20px 10px 20px;
}

figure div {
    background-color: transparent !important;
}
